.learn_more_btn {
    padding: 10px 29px;
    background: none;
    border: none;
    border: 1px solid #00FFCC;
}

.line {
    border: 1px solid white;
    opacity: 0.7;
    width: 81px;
}

.solutions .slick-list {
    overflow: visible;
    position: relative;
}

.solutions .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: #1C1F26;
}

.solutions .slick-list::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4000px;
    left: 105%;
    background-color: #1C1F26;
    z-index: 1;
}

.ff_arial{
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:992px) {
    .solutions .slick-list::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4000px;
        left: 100%;
        background-color: #1C1F26;
        z-index: 1;
    }

    .solutions .slick-slide>div {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.solutions .slick-track {
    display: flex !important;
}

.solutions .slick-slide {
    height: inherit !important;
    display: flex !important;
}

.solutions .slick-slide>div {
    display: flex;
    max-width: 354px;
}

.maxw_627{
    max-width: 627px;
}

.h_454{
    height: 454px;
}

.maxw_689{
    max-width: 689px;
}

.blue_light1 {
    position: absolute;
    background: #4a119e;
    filter: blur(110px);
    width: 87px;
    height: 244px;
    right: 50px;
    bottom: 0;
    top: 40%;
}

.green_light1 {
    position: absolute;
    width: 81px;
    height: 242px;
    background: #00FFCC;
    filter: blur(120px);
    left: 50px;
    top: 40%;
}