/* footer */
.footer_hr {
    opacity: 0.54;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

.footer_img {
    transition: 0.5s ease-in-out !important;

}

.footer_img:hover svg {
    transform: translateY(-10%) !important;
}

.footer_hover {
    transition: 0.2s ease-in-out;

}

.footer_hover:hover {
    opacity: 0.3;
}

/*  */
.max_w {
    max-width: 856px;
}

.Learn_btn {
    border: 1px solid #00FFCC;
    padding: 11px 20px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

/* Agricultures2 */
.dot {
    list-style-type: circle !important;
}

@media (min-width: 1200px) {
    .max_w_284 {
        max-width: 284px;
    }

    .max_w_273 {
        max-width: 273px;
    }

    .max_w_260 {
        max-width: 260px;
    }

    .max_w_300 {
        max-width: 300px;
    }

}

@media (max-width: 768px) {
    #ul_1 {
        order: 1;
    }

    #ul_2 {
        order: 3;
    }

    #ul_3 {
        order: 2;
    }

    #ul_4 {
        order: 4;
    }
}
@media (max-width: 576px) {
    #ul_1 {
        order: 1;
    }

    #ul_2 {
        order: 2;
    }

    #ul_3 {
        order: 3;
    }

    #ul_4 {
        order: 4;
    }
}