.list_dot {
  list-style-type: disc !important;
}

.butn:link,
.butn:visited {
  text-decoration: none;
  background-color: var(--color-sky);

  padding: 18px 32px;

  border: none;
  color: #1C1F26;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.butn::before {
  background: #fff;
  content: "";
  height: 15px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 30px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
  background: #032920;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 2.5rem;
  filter: blur(10px);
}

.butnnew::before {
  left: -50%;
}

.butnnew::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #1C1F26;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butnnew:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butnnew:hover::after {
  left: 200%;
  opacity: 0.6;
}

/* Green_btn_2 */

.Green_btn_2 {
  padding: 18px 32px;
  border: 1px solid var(--color-sky);
}

/* Resources */

.Resources_Blogs {
  border-bottom: 1px solid var(--color-white);
}

.Resources_Documentation {
  border-bottom: 1px solid #ffffff7c;
}

.Resources_slider_box {
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.08);
  padding: 40px;
}

.Resources_slider_box_btn {
  padding: 18px 32px;
  border: 1px solid var(--color-sky);
}

/* Team */
.Team_p_w {
  max-width: 514px;
}

.Team_slider_box {
  border-radius: 16px;
}

.Team_slider_box_img {
  border-radius: 16px;
  transition: all 0.7s linear;
}

.Team_slider_box:hover img {
  transform: scale(1.1);
}

.Team_slider_box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  border: 0px solid;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  background: linear-gradient(180deg, rgba(36, 177, 208, 0.224) 0%, rgba(151, 71, 255, 0.268) 100%);
  -webkit-mask-composite: xor;
}

.Team_slider_img_box {
  bottom: 0;
  background: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(9.5px);
  padding: 30px 40px 53px 30px;
  border-radius: 0 0 16px 16px;
}

.Team_green_light {
  height: 180px;
  width: 160px;
  background: #00FFCC;
  filter: blur(249.5px);
  left: -150px;
  top: 390px;
  z-index: 10;
}

.slick-dots li button:before {
  opacity: .25;
  color: var(--color-sky) !important;
}

/* Other_Products */

.Other_Products_p_w {
  max-width: 438px;
}

.active {
  border-color: var(--bs-nav-tabs-link-active-border-color);
  border: none !important;

}

.nav-tabs {
  border: none !important;
  border-bottom: 1px solid #ffffff37 !important;

}

.nav-tabs .nav-link {
  font-family: 'AllRoundGothic-Medium', sans-serif;
  font-size: var(--fs-xl) !important;
  color: var(--color-white) !important;
  background-color: transparent !important;

  margin-bottom: 0;
  background: 0 0;
  border: none !important;
  border-bottom: 1px !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
  border: none !important;
  border-bottom: 1px solid #fff !important;

}

.Team_slider_visible .slick-list {
  overflow: visible;
  position: relative;
}

.Team_slider_visible .slick-list::after {
  content: ' ';
  position: absolute;
  top: -5px;
  bottom: 0px;
  width: 4000px;
  padding: 20px;
  right: 100%;
  background-color: var(--color-darkblue);
}

.Team_slider_visible .slick-list::before {
  content: ' ';
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 4000px;
  left: 105%;
  background-color: var(--color-darkblue);
  z-index: 1;
}

/* Lorem_Epsum */

.Lorem_Epsum_p_w341 {
  max-width: 341px;
}

.Lorem_Epsum_p_w284 {
  max-width: 284px;
}

.Lorem_Epsum_Data_img::after {
  content: 'Data engine';
  position: absolute;
  background: #1C1F26;
  border: 1px solid #FFFFFF;
  padding: 10px;
  top: -130px;
  right: 50px;
  /* text */
  color: var(--color-white);
  font-family: 'AllRoundGothic-Book', sans-serif;
  font-size: var(--fs-sm);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lorem_Epsum_Data_img::before {
  content: 'Data engine';
  position: absolute;
  background: #1C1F26;
  border: 1px solid #FFFFFF;
  padding: 10px;
  top: -50px;
  left: -50px;
  /* text */
  color: var(--color-white);
  font-family: 'AllRoundGothic-Book', sans-serif;
  font-size: var(--fs-sm);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lorem_Epsum_Automotive */
.Lorem_div_height {
  height: 200px;
}



@media (min-width:576px) {

  .Lorem_Epsum_Automotive_img_1::after {
    content: '';
    position: absolute;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.7;
    right: 0;
    top: 80px;
    height: 1150px;
    width: 150px;
  }

  .Lorem_Epsum_Automotive_img_1::before {
    content: '';
    position: absolute;
    border-top: 1px solid #FFFFFF;
    opacity: 0.7;
    right: 0;
    top: 80px;
    height: 403px;
    width: 135px;
  }

  .Volutpat_p::after {
    content: '';
    position: absolute;
    border-top: 1px solid #FFFFFF;
    right: -183px;
    top: 44.5px;
    width: 180px;
  }

  .Volutpat_p::before {
    content: 'Data engine';
    position: absolute;
    background: #1C1F26;
    border: 1px solid #FFFFFF;
    padding: 10px;

    color: var(--color-white);
    font-family: 'AllRoundGothic-Book', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0px;
    right: -183px;
  }

  .Lorem_Epsum_Automotive_img_2::before {
    content: 'Data engine';
    position: absolute;
    background: #1C1F26;
    border: 1px solid #FFFFFF;
    padding: 10px;
    /* text */
    color: var(--color-white);
    font-family: 'AllRoundGothic-Book', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -72px;
  }

  .Amet_p::after {
    content: '';
    position: absolute;
    border-top: 1px solid #FFFFFF;
    opacity: 0.7;
    right: -151px;
    top: 54px;
    width: 158px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    content: 'Data engine';
    position: absolute;
    background: #1C1F26;
    border: 1px solid #FFFFFF;
    padding: 10px;
    /* text */
    color: var(--color-white);
    font-family: 'AllRoundGothic-Book', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .Lorem_Epsum_Automotive_img_3::after {
    content: 'Data engine';
    position: absolute;
    background: #1C1F26;
    border: 1px solid #FFFFFF;
    padding: 10px;
    /* text */
    color: var(--color-white);
    font-family: 'AllRoundGothic-Book', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@media (min-width:768px) {
  .Lorem_Epsum_Automotive_img_1::after {
    right: 31px;
    top: 80px;
    height: 1450px;
    width: 218px;
  }

  .Lorem_Epsum_Automotive_img_1::before {
    right: 31px;
    top: 80px;
    height: 403px;
    width: 149px;
  }

  .Volutpat_p::after {
    right: -332px;
    top: 54px;
    width: 280px;
  }

  .Volutpat_p::before {
    top: 9px;
    right: -333px;
  }

  .Amet_p::after {
    right: -300px;
    top: 54px;
    width: 248px;
  }


}





@media (min-width:992px) {
  .Lorem_Epsum_Automotive_img_2 {
    margin-top: -15px;
  }

  .Volutpat_ul {
    top: 50%;
    left: 50%;
    transform: translate(0%, 170%);
  }

  .Amet_p::after {
    left: -58px;
    top: 47px;
    width: 30px;
  }

  .Volutpat_p::after {
    right: -3px;
    top: 54px;
    width: 40px;
  }

  .Volutpat_p::before {
    top: -26px;
    right: -117px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    top: 161px;
    left: 423px;
  }

  .Lorem_Epsum_Automotive_img_2::before {
    top: -72px;
    left: 205px;
  }

  .Lorem_Epsum_Automotive_img_1::after {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-right: none;
    left: -131px;
    top: 20px;
    height: 330px;
    width: 218px;
  }

  .Lorem_Epsum_Automotive_img_1::before {
    left: -130px;
    top: 20px;
    height: 403px;
    width: 130px;
  }

  .Volutpat_ul::after {
    content: '';
    position: absolute;
    border-top: 1px solid #FFFFFF;
    opacity: 0.7;
    left: 353px;
    top: 49px;
    width: 160px;
  }


  .Lorem_Epsum_Automotive_img_3 {
    z-index: 2;
    position: relative;
    margin-top: -90px;
  }

  .Lorem_Epsum_Automotive_img_3::before {
    content: '';
    position: absolute;
    border-left: 1px solid #FFFFFF;
    opacity: 0.7;
    z-index: -1;
    left: 50px;
    top: -221px;
    height: 545px;
  }

  .Lorem_Epsum_Automotive_img_3::after {
    bottom: -157px;
    left: -63px;
  }
}

@media (min-width:1200px) {
  .Lorem_Epsum_Automotive_img_2 {
    margin-top: -15px;
  }

  .Volutpat_ul {
    top: 50%;
    left: 50%;
    transform: translate(30%, 170%);
  }

  .Amet_p::after {
    left: -58px;
    top: 47px;
    width: 30px;
  }

  .Volutpat_p::after {
    right: -95px;
    top: 54px;
    width: 85px;
  }

  .Volutpat_p::before {
    top: -26px;
    right: -208px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    top: 166px;
    left: 603px;
  }

  .Lorem_Epsum_Automotive_img_2::before {
    top: -96px;
    left: 297px;
  }

  .Lorem_Epsum_Automotive_img_1::after {
    left: -220px;
    top: 20px;
    height: 403px;
    width: 300px;
  }

  .Lorem_Epsum_Automotive_img_1::before {
    left: -220px;
    top: 20px;
    height: 403px;
    width: 220px;
  }

  .Volutpat_ul::after {
    left: 397px;
    top: 49px;
    width: 191px;
  }


  .Lorem_Epsum_Automotive_img_3 {
    margin-top: -90px;
  }

  .Lorem_Epsum_Automotive_img_3::before {
    left: 50px;
    top: -240px;
    height: 600px;
    width: 412px;
  }

  .Lorem_Epsum_Automotive_img_3::after {
    bottom: -157px;
    left: -63px;
  }
}


@media (min-width:1200px) {
  .Lorem_Epsum_Amet::after {
    content: '';
    position: absolute;
    right: -120px;
    height: 364px;
    width: 150px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }

  .Lorem_Epsum_Amet::before {
    content: '';
    position: absolute;
    right: -120px;
    top: 22px;
    height: 364px;
    width: 100px;
    border-top: 1px solid #FFFFFF;
    opacity: 0.7;
  }
}

@media (min-width:1400px) {
  .Lorem_Epsum_Automotive_img_2 {
    margin-top: -15px;
    z-index: 2;
  }

  .Volutpat_ul {
    top: 50%;
    left: 50%;
    transform: translate(35%, 170%);
  }

  .Amet_p::after {
    left: -58px;
    top: 47px;
    width: 30px;
  }

  .Volutpat_p::after {
    right: -83px;
    top: 54px;
    width: 85px;

  }

  .Volutpat_p::before {
    top: -26px;
    right: -196px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    top: 166px;
    left: 784px;
  }

  .Lorem_Epsum_Automotive_img_2::before {
    top: -96px;
    left: 284px;
  }

  .Lorem_Epsum_Automotive_img_1::after {
    left: -412px;
    top: 20px;
    height: 403px;
    width: 500px;
  }

  .Lorem_Epsum_Automotive_img_1::before {
    left: -412px;
    top: 20px;
    height: 403px;
    width: 412px;
  }

  .Volutpat_ul::after {
    left: 420px;
    top: 49px;
    width: 331px;
  }



  .Lorem_Epsum_Automotive_img_3::before {
    left: 50px;
    top: -240px;
    height: 600px;
    width: 412px;
  }

  .Lorem_Epsum_Automotive_img_3::after {
    bottom: -157px;
    left: -63px;
  }
}



@media (min-width:1200px) {
  .Lorem_Epsum_Amet::after {
    right: -190px;
    height: 364px;
    width: 207px;
  }

  .Lorem_Epsum_Amet::before {
    right: -190px;
    height: 364px;
    width: 150px;
  }
}

@media (min-width:1300px) {
  .Lorem_Epsum_Amet::after {
    right: -250px;
    height: 364px;
    width: 207px;
  }

  .Lorem_Epsum_Amet::before {
    right: -250px;
    height: 364px;
    width: 150px;
  }
}


@media (max-width:992px) {
  .Lorem_Epsum_Maecenas::after {
    content: '';
    position: absolute;
    left: 50px;
    bottom: -114px;
    height: 100px;
    width: 1px;
    border: 1px solid #FFFFFF;
  }
}

@media (max-width:1200px) {
  .Team_slider_img_box {
    padding: 22px 25px 30px 22px;
  }

  .img_w {
    width: 75% !important;
    z-index: 2;
  }

  .img2_w {
    width: 40% !important;
  }
}

@media (max-width:992px) {
  .Lorem_Epsum_Maecenas::after {
    content: '';
    position: absolute;
    left: 50px;
    bottom: -114px;
    height: 100px;
    width: 1px;
    border: 1px solid #FFFFFF;
  }

  .img_w {
    width: 75% !important;
  }

  .img2_w {
    width: 75% !important;
  }

  .Lorem_Epsum_Automotive_img_2::before {
    right: 80px;
  }

  .Volutpat_p_2::after {
    content: '';
    position: absolute;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    width: 170px;
    height: 73px;
    right: -250px;
    top: 32px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    bottom: 106px;
    right: 80px;
  }

  .Lorem_Epsum_Automotive_img_3::after {
    bottom: -80px;
    right: 31px;
  }
}

@media (max-width:768px) {
  .Lorem_Epsum_Automotive_img_2::before {
    right: 48px;
  }

  .Volutpat_p_2::after {
    width: 150px;
    height: 73px;
    right: -150px;
    top: 32px;
  }

  .Lorem_Epsum_Automotive_img_2::after {
    bottom: 106px;
    right: 48px;
  }

  .Lorem_Epsum_Automotive_img_3::after {
    bottom: -80px;
    right: 0px;
  }
}

@media (max-width:576px) {
  .Team_slider_img_box {
    padding: 10px 15px 15px 10px;
  }
}