*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}


.bg_darkgreen {
    background: #1E1E1E;
}

.inter_style {
    padding: 18px 32px;
    background: #00FFCC;
}

.list_style {
    list-style-type: disc !important;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.whitelight_clr {
    color: #B9BABE !important;
}

.explore_style {

    margin-left: auto;
    margin-right: auto;
}

.explore_img_hover {
    transition: all 0.5s linear;
}

.zomeimg:hover .explore_img_hover {
    transform: scale(1.1);
}

.pt_30{
    padding-top: 30px !important;
}
@media (min-width:576px) {
    .seconddisplay_img1 {
        position: absolute;
        z-index: 2;
        left: 25%;
        top: 0;
    }

    .seconddisplay_img1::after {
        content: url(./assets/img/png/process_line.png);
        position: absolute;
        left: -61px;
        top: 70px;
    }

    .seconddisplay_img2 {
        position: absolute;
        right: 6px;
        bottom: -391px;
    }

    .seconddisplay_img3 {
        position: absolute;
        left: 12px;
        bottom: -432px;
    }

    .bg_blur_chalange {
        background: #1C1F26;
        filter: blur(45px);
        height: 150px;
        margin-top: -70px;
    }
}

@media (min-width:768px) {
    .seconddisplay_img1 {
        left: 32%;
        top: 0;
    }

    .seconddisplay_img2 {
        right: 93px;
        bottom: -392px;
    }

    .seconddisplay_img3 {
        left: 105px;
        bottom: -432px;
    }

    .bg_blur_chalange {
        background: #1C1F26;
        filter: blur(45px);
        height: 211px;
        margin-top: -90px;
    }

}

@media (min-width:992px) {
    .seconddisplay_img1 {
        left: 40%;
        top: 0px;
    }

    .seconddisplay_img2 {
        right: 179px;
        bottom: -380px;
    }

    .seconddisplay_img3 {
        left: 256px;
        bottom: -429px;
    }
}


@media (min-width:1200px) {
    .seconddisplay_img1 {
        left: 120px;
        top: -190px;
    }

    .seconddisplay_img2 {
        right: 70px;
        bottom: -180px;
    }

    .seconddisplay_img3 {
        left: 0px;
        bottom: -237px;
    }
}

@media (min-width:1400px) {
    .seconddisplay_img1 {
        left: 120px;
        top: -190px;
    }

    .seconddisplay_img2 {
        right: 66px;
        bottom: -180px;
    }

    .seconddisplay_img3 {
        left: 0px;
        bottom: -237px;
    }
}

@media (min-width:1200px) {

    .min_w_524 {
        max-width: 524px;
    }

    .min_w_324 {
        max-width: 324px;
    }

    .min_w_704 {
        max-width: 704px;
    }

    #min_w_374 {
        max-width: 374px;
    }
}

@media (max-width:1200px) {
    .desktop_img {
        height: 500px;
    }

}

@media (max-width:768px) {
    .h_lg_450 {
        height: 450px;
        object-fit: cover;
    }
}

.slick-track {
    display: flex !important;
}

@media (max-width:576px) {
    .desktop_img {
        height: 0;
    }

    .bg_blur_chalange {
        background: #1C1F26;
        filter: blur(45px);
        height: 100px;
        margin-top: -50px;
    }
}