* {
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh !important;
  }
}
.outline_none {
  outline: none;
}
.padding_18_32 {
  padding: 16px 32px !important;
}
.sign_up {
  font-size: 20px !important;
  font-family: "AllRoundGothic-Bold", sans-serif !important;
  background-color: #00ffcc !important;
  border-radius: 0 !important;
}
.bg_black_blue {
  background-color: #000001;
}
.opacity_70 {
  opacity: 70%;
}
.z_index_0 {
  z-index: 0;
}
.bg_blur {
  background: rgba(123, 123, 123, 0.08) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.top_n105 {
  top: -105px;
}
.top_n180 {
  top: -180px;
}

.Menuicon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  z-index: 3;
}

.Menuicon > span {
  background-color: white;
  width: 100%;
  height: 5px;
}
.gap_87 {
  gap: 20px;
}
.dotted_bg {
  background-image: url(./assets/img/png/bg_dotted_2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.linear_black_bg {
  background: linear-gradient(180deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
}



.top_47p {
  top: 47%;
  z-index: 0;
}
.index_1 {
  z-index: 1;
}
.z_index_5 {
  z-index: 5;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #110721;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* transform: translateX(-21%); */
  min-width: 115px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content a:hover {
  background-color: #1c1f26;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  background: none !important;
}
.ps_20 {
  padding-left: 20px;
}
#check:checked ~ .nav_left0 {
  left: 0 !important;
}
.accordion-button {
  background-color: #110721 !important;
  color: white !important;
  font-size: 16px !important;
  font-family: "AllRoundGothic-Book", sans-serif !important;
}
.Overflow_x_hidden {
  overflow-x: hidden;
}

.bg_linear {
  background: linear-gradient(180deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
  height: 100%;
}
/* .linear_background::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
  width: 100vw;
  height: 200px;
  bottom: -10px;
} */

input[type="checkbox"]:checked ~ .Menuicon > span:nth-child(1) {
  transform-origin: bottom;
  transform: rotatez(131deg) translateX(6px);
}
input[type="checkbox"]:checked ~ .Menuicon > span:nth-child(2) {
  transform-origin: top;
  transform: rotatez(45deg);
}

input[type="checkbox"]:checked ~ .Menuicon .icon_span {
  opacity: 0;
}
.Menuicon > span {
  transition: all linear 0.5s;
}

.bg_annotab_dots {
  background-image: url(./assets/img/png/annotab_bg_dots.png);
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}


.linear_hero_bottom {
  background: #1c1f26;
  width: 100%;
  height: 211px;
}

.max_w_612 {
  max-width: 612px;
}
#safety_h2_width {
  max-width: 731px;
}
#Banking_h2_width {
  max-width: 688px;
}
#Manufacturing_h2_width {
  max-width: 688px;
}
#Oil_h2_width {
  max-width: 688px;
}
#Retail_h2_width {
  max-width: 735px;
}
#Telecommunication_h2_width {
  max-width: 731px;
}
#Transport_h2_width {
  max-width: 688px;
}
#Utilities_h2_width {
  max-width: 688px;
}
#Automotive_h2_w {
  max-width: 688px;
}
#Aerospace_h2_width {
  max-width: 750px;
}
#Agriculture_h2_width {
  max-width: 688px;
}
.blue_light {
  position: absolute;
  background: #4a119e;
  filter: blur(149px);
  width: 157px;
  height: 444px;
}
.solution_bluelight_position {
  right: -69px;
}
.green_light {
  position: absolute;
  width: 107px;
  height: 316px;
  background: #00ffcc;
  filter: blur(158px);

  z-index: 0;
}
.solution_greenlight_position {
  right: -69px;
  left: -8px;
  top: 31px;
}
.home_greenlight_position {
  top: 80px;
  right: -107px;
}
.home_bluelight_position {
  top: 37px;
  left: -80px;
}
/* .rotate_arrow {
  transform: rotate(180deg) !important;
} */
.dropdown:hover.dropdown a span svg {
  transform: rotate(180deg);
}
.dropdown:hover.dropdown a span svg path {
  fill: #00ffcc !important;
}
.dropdown a span svg {
  transition: all 0.2s linear;
}
.hover_green:hover .links {
  color: #00ffcc !important;
}

.dropdown:hover .main_navbar {
  color: #00ffcc !important;
}
.main_pages:hover {
  color: #00ffcc !important;
}
.accordion-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.z_index_10 {
  z-index: 10;
}
.links_opacity_70 {
  opacity: 75%;
}
.accordion-button:not(.collapsed) {
  color: #00ffcc !important;
}
.accordion-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: inherit;
}
.bg_circle_position {
  background-position: center;
  bottom: 203px;
}
.max_w_1558 {
  max-width: 1558px;
}
.linear-shade_black {
  background: linear-gradient(180deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
}

@media (max-width: 768px) {
  .linear_hero_bottom {
    height: 90px;
  }
   .gif_img {
    width: 100%;
    transform: scale(1.5);
  }
}
@media (max-width: 992px) {
  .sm_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #110721;
    transition: all 0.5s linear;
  }
}

@media (min-width: 768px) {
  .gif_img {
    position: absolute;
    left: 211px;
    top: -175px;
  }
   .gap_87 {
    gap: 87px;
  }
  .px_md_100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .end_sm_n70 {
    right: -250px;
  }
}
@media (min-width: 992px) {
  .gif_img {
    position: absolute;
    left: 311px;
    top: -175px;
  }
  .end_sm_n70 {
    right: -70px;
  }
}

@media (min-width: 1200px) {
  .gif_img {
    position: absolute;
    left: 548px;
    top: -175px;
  }
  .dotted_bg {
    background-image: url(./assets/img/png/dotted-background.png);
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .dotted_bg {
    background-position-y: 19%;
    background-size: contain;
  }
}
@media (min-width: 1401px) {
  .dotted_bg {
    background-position-y: -22%;
    background-size: 100em;
  }
}
