* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}



.normal_box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    /* width: 400px; */
}


.class_box {
    background: rgba(83, 8, 163, 0.08);
    border: 1px solid rgba(252, 252, 255, 0.16);
    border-radius: 16px;
}

.Polygon:hover {
    background: #00FFCC;
    border-radius: 6px;
    width: 100%;

}

.slick-slide {
    width: 620px !important;
}

.slick-current {
    width: 100%;
}

.Polygon:hover .clr_change {
    color: #1C1F26 !important;
}

.Polygon:hover div span svg path {
    fill: #1C1F26;
}

.normal_line {
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}

.slick-slide {
    justify-content: center !important;
    display: flex !important;
}

.opacity0_6 {
    opacity: 0.6;
}

.bg_dots {
    background-image: url(../src/assets/img/png/bg_dots.png);
}

.intersted_btn {
    border: 1px solid #00FFCC;
    padding: 14px 32px;

}

.lh_140p {
    line-height: 140%;
}

.learn_btn {
    padding: 18px 32px;
    width: 180px;
}

.pointer {
    cursor: pointer;
}

.border_bottom_latest {
    border-bottom: 0.6px solid #FFFFFF;
}

.border_bottom_1 {
    border-bottom: 1.5px solid transparent;
}


.border_bottom_1:hover {
    border-bottom: 1.5px solid #FFFFFF;
}

.border_bootom_1::after {
    opacity: 0.6;
}



.latest_box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

.shadow_back {
    background: #00FFCC;
    filter: blur(249.5px);
    transform: rotate(-90deg);
    width: 59px;
    height: 110px;
    transform: translate(-50% -50%);
    opacity: 0.5;
}

.d_grid {
    display: grid;
    grid-column: auto;
    grid-gap: 40px;
}

.blog_1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.blog_2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.blog_3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.blog_4 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.blog_5 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.blog_6 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.blog_7 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.blog_8 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.blog_9 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.blog_10 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.blog_11 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.blog_12 {
    grid-row: 4/5;
    grid-column: 3/4;
}

.mx_600 {
    max-width: 600px;
}

@media (max-width:1400px) {
    /* .normal_box {
            width: 470px;
            margin: 20px;
        } */
}

@media (min-width:1200px) {
    .mx_300_xl {
        max-width: 300px;
    }

    .mx_470_xl {
        max-width: 470px;
    }

    .mx_480_xl {
        max-width: 480px;
    }
}

@media (min-width:992px) {
    .latest_shadow {
        box-shadow: 0px 0px 40px rgba(0, 255, 204, 0.04);
    }
        .normal_shadow {
            box-shadow: 0px 0px 40px rgba(0, 255, 204, 0.04);
        }
}

@media (max-width:992px) {
    .d_grid {
        display: grid;
        grid-column: auto;
        grid-gap: 20px;
    }

    .blog_1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .blog_2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .blog_3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .blog_4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .blog_5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .blog_6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .blog_7 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .blog_8 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .blog_9 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .blog_10 {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    .blog_11 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .blog_12 {
        grid-row: 6/7;
        grid-column: 2/3;
    }
}

@media (max-width:768px) {
    .w-100-md-m {
        width: 100%;
    }
}

@media (min-width:768px) {
    .mx_300_md {
        max-width: 300px;
    }

    .mx_700_md {
        max-width: 700px;
    }

    .mx_280_md {
        max-width: 280px;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

@media (max-width:576px) {
    .blog_1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .blog_2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .blog_3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .blog_4 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .blog_5 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .blog_6 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .blog_7 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .blog_8 {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    .blog_9 {
        grid-row: 9/10;
        grid-column: 1/2;
    }

    .blog_10 {
        grid-row: 10/11;
        grid-column: 1/2;
    }

    .blog_11 {
        grid-row: 11/12;
        grid-column: 1/2;
    }

    .blog_12 {
        grid-row: 12/13;
        grid-column: 1/2;
    }
}

@media (max-width:420px) {
    .normal_box {
        width: 300px;
    }
}