* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}

.normal_box {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 0px 40px rgba(0, 255, 204, 0.04);
    backdrop-filter: blur(10px);
}

.normal_line {
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}

.opacity0_6 {
    opacity: 0.6;
}

.intersted_btn {
    border: 1px solid #00FFCC;
    padding: 14px 32px;
}
