.turpis_img {
    background: url(../src/assets/img/png/turpis_bg_img.png) center no-repeat;
    background-size: cover;

}

.feauth_wdth {
    max-width: 731px;
}

.green_lght {
    height: 316px;
    width: 107px;
    left: -150px;
    top: 2px;
    background: #00FFCC;
    filter: blur(158px);

}

.blue_lght {
    height: 444px;
    width: 157px;
    right: -90px;
    top: 218px;
    background: #4A119E;
    filter: blur(149px);
}

.best_wdth {
    max-width: 688px;
}

.achieve_wdth {
    max-width: 612px;
}